.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  /* border: 1px solid purple; */
  margin-right: 35px;
}
.avatar-img {
  margin-right: 15px;
  height: 40px;
}
.avatar-name {
  margin-right: 10px;
}
.card-header-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-between;
  padding: 8px;
}
